body{
  background:#000000;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content:center;
  justify-items: center;
  color:#fff;
}
button{
  border:1px solid rgb(238, 238, 238);
  background:#000000;
  color:#fff;
  width:30%;
  height:2rem;
  border-radius:0.2rem;
  margin:1rem 0rem;
  cursor:pointer;
}
button:hover{
  background-color:#3d3d3d;
  color:#fff;
}
.container{
  border:1px solid rgb(77, 77, 77);
  margin:auto;
  width:50%;
  padding:0.5rem;
  height:50%;
  border-radius:1rem;
  background:#242424;
}
.Turns{
  height:1rem;
}
.result{
  border:1px solid #3d3d3d;
  background:#3d3d3d;
  border-radius:1rem;
  padding:5rem;
  justify-content:center;
}