body {
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid rgb(238, 238, 238);
  background: #000000;
  color: #fff;
  width: 80%;
  max-width: 300px;
  height: 2.5rem;
  border-radius: 0.3rem;
  margin: 1rem auto;
  cursor: pointer;
}

button:hover {
  background-color: #3d3d3d;
  color: #fff;
}

.container {
  border: 1px solid rgb(77, 77, 77);
  margin: 1rem auto;
  width: 90%; 
  padding: 1rem;
  border-radius: 1rem;
  background: #242424;
}

.Turns {
  height: 1rem;
}

.result {
  border: 1px solid #3d3d3d;
  background: #3d3d3d;
  border-radius: 1rem;
  padding: 2rem;
  justify-content: center;
}
@media (min-width: 600px) {
  .container {
    width: 70%;
    padding: 1.5rem;
  }

  button {
    width: 50%;
    height: 2.2rem;
  }

  .result {
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
    padding: 2rem;
  }

  button {
    width: 30%;
    height: 2rem;
  }

  .result {
    padding: 5rem;
  }
}
